.header {
    width: 1440px;
    height: 990px;
    background: #ffffff;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar .logo {
    color: #313131;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.06em;
    line-height: 3.2;
}

.header .nav-menu ul {
    display: flex;
    align-items: center;
}

.header .nav-menu ul li {
    list-style: none;
    padding: 10px;
}

.header .nav-menu ul li a {
    color: #313131;
    font-weight: 450;
    font-size: 17px;
}

.header .sign a {
    margin-right: 30px;
    color: #313131;
    font-weight: 450;
    font-size: 17px;
}

.header .sign .btn-sign {
    width: 152px;
    height: 58px;
    background: #313131;
    color: #fff;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
        0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
        0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

.hero .img-8 {
    width: 566px;
    height: 620px;
    right: 20%;
    top: 10%;
    max-width: 30%;
    position: absolute;
}

.hero .vector-1 {
    width: 566px;
    height: 316px;
    position: absolute;
    top: 10%;
    left: 35%;
    max-width: 30%;
}

.hero .vector-2 {
    top: -45%;
    left: 76%;
    width: 828px;
    height: 810px;
    position: absolute;
    max-width: 20%;
}

.hero .shape {
    width: 470px;
    height: 455px;
    background: #ffe600;
    border-radius: 250px 250px 0px 0px;
    position: absolute;
    left: 50%;
    top: 35%;
    max-width: 30%;
}

.header .hero {
    width: 818px;
    height: 637px;
    margin-top: 130px;
    margin-left: 65px;
}

.hero .big-title {
    width: 401px;
    height: 208px;
}

.hero .big-title div {
    width: 309px;
    height: 127px;
    font-weight: 900;
    font-size: 100px;
    color: #313131;
}

.big-title .second {
    margin-top: -97px;
    margin-left: 88px;
}

.big-title img {
    width: 90px;
    height: 101px;
    margin-top: -35px;
}

.hero .first-p {
    width: 468px;
    height: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.5;
    color: #313131;
    margin-bottom: 30px;
}

.hero .second-p {
    width: 468px;
    height: 75px;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5;
    color: #313131;
}

.hero .df {
    width: 517px;
    height: 58px;
    display: flex;
    margin-top: 86px;
}

.hero .input-text {
    width: 200px;
    height: 28px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.hero .start {
    width: 197px;
    height: 28px;
    color: #ffffff;
    padding: 5px;
    background: #313131;
    border-radius: 5px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
        0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
        0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
